$screen-xx-width: 320px;
$screen-xs-width: 640px;
$screen-sm-width: 748px;
$screen-md-width: 1024px;
$screen-lg-width: 1280px;
$screen-xl-width: 1920px;

$logo-transition-duration: .2s;

$greige: #f0ede1;
$greige-shade-7-5: shade($greige, 7.5%);
$greige-shade-20: shade($greige, 20%);
$greige-shade-33: shade($greige, 33%);
$black: #221d17;
$black-tint-7-5: tint($black, 7.5%);
$black-tint-20: tint($black, 20%);
$black-tint-33: tint($black, 33%);
$white: #ffffff;
$beige: #F5F4EE;
$dark-grey: #4F4F4F;
$mid-grey: #767676; // the lightest shade of grey you can get away with, #a11y
$light-grey: #eeeeee; // for backgrounds only
