input[type=checkbox]#theme-toggle + label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: transparent;

  &:hover {
    cursor: pointer;
    background-color: var(--background-2);
  }

  @include hover-none {
    &:hover {
      cursor: initial;
      background-color: initial;
    }
  }

  &:before {
    content: url(/assets/img/contrast-fill.svg);
    display: block;
    height: 22px;
    width: 22px;
  }
}

input[type=checkbox]#theme-toggle:checked + label {
  &:before {
    content: url(/assets/img/contrast-line.svg);
  }
}

input[type=checkbox]#theme-toggle:focus + label {
  background-color: var(--background-2);
  outline: dashed 1px var(--background-4);
}