---
layout: home
pagination:
  data: collections.post
  reverse: true
  size: 5
  alias: post
eleventyComputed:
  title: Blog{% if pagination.pageNumber > 0 %} - Page {{ pagination.pageNumber + 1 }}{% endif %}
permalink: blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
---
<h1>{{ title }}</h1>
<section class="post-list">
  {% if pagination.items %}
    {% set postList = pagination.items %}
    {% set headingLevel = "h2" %}
    {% include "partials/post-list.njk" %}
  {% else %}
    <i>There are no blog posts yet. ❤️</i>
  {% endif %}
</section>
<section class="post-pagination">
  {% set href = pagination.href  %}
  {% include "partials/pagination-nav.njk" %}
</section>