---
layout: home
title: Blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>
<div class="post-list">
  {% set postList = collections.post %}
  {% set headingLevel = "h2" %}
  {% include "partials/post-list.njk" %}
</div>