---
layout: home
pagination:
  data: collections.categoryList
  size: 1
  alias: category
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ category | title }}"
permalink: blog/category/{{ category | slugify }}/
---
<h1>{{ title }}</h1>
<p class="padding-bottom">
  <a href="{{ '/blog/category/' | url }}" class="button-link">Explore all categories</a>
</p>
<section class="post-list">
  {% set postList = collections.categories[ category ] | reverse %}
  {% set headingLevel = "h2" %}
  {% include "partials/post-list.njk" %}
</section>
