---
title: Categories
permalink: blog/category/
layout: home
---
<h1>{{ title }}</h1>
<div>
  {% set categoryList = collections.categoryList.sort() %}
  {% set linkClass = "badge-link" %}
  {% include "partials/category-list.njk" %}
</div>