---
layout: home
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - tagList
    - categories
    - categoryList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /blog/tags/{{ tag | slugify }}/
---
<h1>{{ title }}</h1>
<p class="padding-bottom">
  <a href="{{ '/blog/tags/' | url }}" class="button-link">Explore all tags</a>
</p>
<section class="post-list">
  {% set postList = collections[ tag ] | reverse %}
  {% set headingLevel = "h2" %}
  {% include "partials/post-list.njk" %}
</section>
