---
layout: home
pagination:
  data: collections.tagPagination
  size: 1
  alias: tag
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged "{{ tag.name }}"{% if tag.pageNumber > 0 %} - Page {{ tag.pageNumber + 1 }}{% endif %}
permalink: /tags/{{ tag.name | slugify }}/{% if tag.pageNumber > 0 %}{{ tag.pageNumber + 1 }}/{% endif %}
---
<h1>{{ title }}</h1>
<p class="padding-bottom">
  <a href="{{ '/tags/' | url }}" class="button-link">Explore all tags</a>
</p>
<section class="post-list">
  {% set postList = tag.pageData %}
  {% set headingLevel = "h2" %}
  {% include "partials/post-list.njk" %}
</section>
<section class="post-pagination">
  {% set href = tag.href  %}
  {% include "partials/pagination-nav.njk" %}
</section>