---
layout: home
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - tagList
    - categories
    - categoryList
  addAllPagesToCollections: true
eleventyComputed:
  title: Posts filed under "{{ tag }}"
permalink: /blog/tags/{{ tag | slug }}/
---
<h1 class="header-md">Blog</h1>
<h2 class="h1">{{ title }}</h2>
<p>
  See <a href="{{ '/blog/tags/' | url }}">all tags</a>.
</p>
<div class="post-list">
  {% set postList = collections[ tag ] %}
  {% set headingLevel = "h3" %}
  {% include "partials/post-list.njk" %}
</div>
