.visually-hidden {
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  max-width: 100%;

  @include screen-sm {
    max-width: 40rem;
  }

  @include screen-lg {
    max-width: 42rem;
  }
}

.margin-top {
  margin-top: 1.75rem;
}

.padding-top {
  padding-top: 2rem;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.width-half {
  width: 50% !important;
}

.width-qtr {
  width: 25% !important;
}
