ul.nav-list {
  list-style: none;
  justify-content: flex-start;

  li.nav-item {
    padding-right: 2rem;
  }

  &.social-links {
    justify-content: space-between;
    width: 21ch;

    li.nav-item {
      padding: 0;
      display: inherit;
      margin: 0;
    
      a { 
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.tag-list, .category-list {
  list-style: none;

  li {
    margin: .25rem .5rem .25rem 0;
    display: inherit;
  }

  li:before {
    height: 1px;
  }
}

.pagination {
  ol {
    list-style: none;
    margin-top: .75rem;

    li {
      margin: 0.5em 0;

      &:first-of-type,
      &:last-of-type {
        width: 100%;
        text-align: center;
      }

      &:nth-of-type(2) {
        text-align: right;
        margin-left: 1em;
        flex: 1;
  
        &:after {
          content: '/';
          padding-left: .5em;
        }
      }
  
      &:nth-of-type(3) {
        margin-right: .5em;
        flex: 1;
  
        &:before {
          content: '';
          padding-left: .5em;
        }
      }
    }

    @include screen-xx {
      li:first-of-type,
      li:last-of-type {
        width: initial;
        text-align: left;
      }
    }
  }
}

.nav-list, .tag-list, .category-list, .pagination {
  // https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
  li:before {
    content: '\200B'; /* add zero-width space */
  }
}