ul.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  li.nav-item {
    margin: 0 $nav-spacing-between 0 0;
  }

  li.nav-item:last-child {
    margin: 0;
  }
}