body {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: var(--link-color);

  &:not([class]):hover,
  &:not([class]):focus {
    color: var(--background-1);
    text-decoration: none;
    background-color: var(--text-color);
    box-shadow: 2px 0 0 2px var(--text-color), -2px 0 0 2px var(--text-color);
  }
}