html {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.25;

  @include screen-xs {
    @include fluid-type($screen-xs-width, $screen-xl-width, 16px, 20px);
  }

  @include screen-xl {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.125;
}

h1 {
  font-size: 2.25rem;
}

a {
  color: var(--link-color);

  &:not([class]):hover,
  &:not([class]):focus {
    color: var(--background-1);
    text-decoration: none;
    background-color: var(--text-color);
    box-shadow: 2px 0 0 2px var(--text-color), -2px 0 0 2px var(--text-color);
  }
}
