.blog-post {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--background-4);
  } 

  h2 {
    a {
      text-decoration: none;
    }
  }

  .post-header {
    .tag-links {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      font-size: .625rem;
      letter-spacing: .125em;
      list-style-type: none;
      padding: 0;
      margin: 1em 0;

      li:not(:last-of-type):after {
        content: '/';
        padding: 0 .5em;
      }

      a {
        text-decoration: none;
      }
    }

    .post-title {
      margin: 0;
    }

    .post-date {
      margin: .5em 0;
    }
  }

  a.read-more:after {
    content: ' →';
  }
}

.post-list {
  margin-top: 2rem;

  .blog-post:not(:first-of-type) {
    padding-top: 1rem;
  }

  .excerpt:after {
    content: '...';
  }
}