.home {
  .nav-list {
    margin: 1.5rem 0;
    
    .nav-item {
      padding: .5rem 1.5rem 0 0;

      .social-link {
        svg {
          stroke: var(--text-color);
        }
      }
    }
  }
}