.animated-logo {
  display: inline-block;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: lowercase;
  color: var(--text-color);
  white-space: nowrap;

  .expand {
    span {
      display: none;
    }
  }
}
