<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body>
    <a class="visually-hidden skip-content" href="#main-content">Skip to content</a>
    <div class="container">
      {% include "partials/site-header.njk" %}
    </div>
    <main id="main-content" class="container">
      {{ content | safe }}
    </main>
    <script src="/js/main.min.js"></script>
  </body>
</html>
