---
layout: base
---
<article class="wrapper post h-entry">
  <header class="post-header">
    {% if categories %}
      {% set categoryList = categories %}
      {% set linkClass = "p-category" %}
      {% include "partials/category-list.njk" %}
    {% endif %}
    <h1 class="post-title p-name">{{ title }}</h1>
    {% set postDate = page.date %}
    {% include "partials/post-description.njk" %}
  </header>
  <section class="post-content e-content">
    {{ content | safe }}
  </section>
  <section class="tag-section flex-row">
    <span class="post-meta-label">Tags </span>
    {% if tags %}
      {% set tagList = tags %}
      {% include "partials/tag-list.njk" %}
    {% endif %}
  </section>
</article>
<div class="wrapper page-section">
  {%- set previousPost = collections.post | getPreviousCollectionItem(page) %}
  {%- set nextPost = collections.post | getNextCollectionItem(page) %}
  {% include 'partials/post-nav.njk' %}
</div>
<div class="wrapper page-section">
  {% include 'partials/share-button.njk' %}
  <h2 class="post-meta-label">Webmentions</h2>
  {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
  {% include 'partials/webmentions.njk' %}
</div>
