.site-footer {
  .footer-content {
    border-top: 1px solid var(--background-4);
    padding-top: 1.125rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  
    @include screen-xs {
      padding-top: 1.5rem;
      padding-bottom: 1.75rem;
    }

    .social-links {
      margin-right: 2rem;
    }

    .copyright {
      font-size: .875rem;
    }
  }
}