.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--background-4);

  @include screen-xs {
    padding-top: 3rem;
  }

  .logo {
    margin: 4px 0;
    padding-right: 2rem;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
  }

  .nav-list {
    margin: 0;
    min-height: 32px;

    .nav-item {
      display: flex;
      align-items: center;
      margin: 4px 0;

      a {
        text-decoration: none;
      }
    }
  }
}