.site-header {  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid var(--background-4);
    padding-bottom: 1.125rem;
  
    @include screen-xs {
      padding-top: 1.75rem;
      padding-bottom: 1.5rem;
    }

    .logo {
      margin: 4px 0;
      padding-right: 1.5rem;
    }
  
    .nav-container {
      .nav-list {
        margin: 0;
        min-height: 32px;
    
        .nav-item {
          display: flex;
          align-items: center;
          margin: 4px 0;
    
          a {
            font-size: 1rem;
            text-decoration: none;
          }
        }
      }
    }
  }
}