.post {
  padding-bottom: 2rem;

  .post-header {    
    .category-list {
      margin-top: 1.25rem;
      margin-bottom: .75rem;
      text-transform: uppercase;
      font-size: .75rem;
      letter-spacing: .1em;
      margin-bottom: .5rem;

      li {
        margin-right: 0;
        display: list-item;

        a {
          padding-top: .375em;
          padding-bottom: .375em;
          text-decoration: none;
        }
        
        &:not(:last-of-type):after {
          content: '/';
          padding: 0 .5em;
        }

        // https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
        &:before {
          content: '\200B'; /* add zero-width space */
        }
      }
    }

    *+.post-title {
      margin: 0;
    }

    .post-title {
      a {
        text-decoration: none;
      }
    }
  }

  .post-content {
    margin-top: 2.5rem;
    padding-bottom: 1rem;

    img {
      width: 100%;
      display: block;
    }
  }

  .tag-section {
    align-items: center;
    margin-top: 1.5rem;
    
    .tag-list {
      margin: 0;

      a {
        font-size: .75rem;
      }
    }
  }

  .post-description {
    margin: .5rem 0;
  
    time {
      color: var(--text-color-2);
   }
  }

  figure {
    margin: 2rem auto;
  }
}

.post-list {
  margin-top: 2rem;

  .post {
    .post-header {
      .category-list {
        margin-top: 0;
      }

      .post-title {
        margin: 0;
      }
    }

    a.read-more {
      font-size: .875rem;
      padding-bottom: .4rem;

      &.read-more:after {
        content: '→';
        margin-left: .5em;
      }
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--background-4);
      padding-bottom: 1rem;
    }
  
    &:not(:first-of-type) {
      padding-top: 2rem;
    }
  }
}
