.site-footer {  
  .footer-content {
    border-top: 1px solid var(--background-4);
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    @include screen-xs {
      justify-content: space-between;
      padding: 1.5rem 0;

      .social-links {
        margin-right: 2rem;
      }
    }

    .copyright {
      font-size: .875rem;
      text-align: center;
      width: 100%;
      
      @include screen-xs {
        width: unset;
      }
    }
  }
}
