---
layout: layouts/home
eleventyExcludeFromCollections: true
---
<h1>Christina Dan is a software engineer based in Dallas, Texas. </h1>
<p>
  She currently builds enterprise mobile and web applications; check out her professional <a href="/static/christina_dan_resume.pdf" target="_blank" rel="noopener noreferrer">résumé</a> to learn more. Unprofessionally, she is a food hobbyist and amateur baker, which you can follow along with on <a href="https://instagram.com/_christinadan" target="_blank" rel="noopener noreferrer">Instagram</a>.
</p>
{% include "partials/socials.njk" %}
