---
layout: layouts/home
eleventyExcludeFromCollections: true
---
<h1>Christina Dan is a software engineer currently based in Dallas, TX. </h1>
<p>
  You can find her professional resume here. Unprofessionally, she can usually be found cooking or baking, which you can follow along with on <a href="https://instagram.com/_christinadan" target="_blank">Instagram</a>.
</p>
<p>
  Find her elsewhere on the web:
  {% include "partials/socials.njk" %}
</p>
