---
layout: layouts/home
eleventyExcludeFromCollections: true
---
<h1>Christina Dan is a software engineer currently based in the Dallas/Fort Worth area.</h1>
<p>
  You can find out more about her professionally here. Outside of work, she can usually be found cooking or baking, which you can follow along with on <a href="https://instagram.com/_christinadan" target="_blank">Instagram</a>.
</p>
<p>
  Find her elsewhere on the web:
  <ul class="nav-list">
    {% set navItems = navigation.social %}
    {% for item in navItems %}
      {# {% set externalAttribute = '' %} #}
      {% if item.external %}
        {% set externalAttribute = ' rel="external"' %}
      {% endif %}

      <li class="nav-item">
        <a href="{{ item.url }}" {{ externalAttribute | safe }}>
          {{ item.text }}
        </a>
      </li>
    {% endfor %}
  </ul>
</p>
