<span class="animated-logo">
  C<span class="expand"><span>h</span><span>r</span><span>i</span><span>s</span><span>t</span><span>i</span><span>n</span><span>a</span><span>&nbsp;</span></span>D<span class="expand last"><span>a</span><span>n</span></span>.
</span>