<nav class="pagination" aria-label="Pagination navigation">
  <small>
    <ol class="flex-row">
      <li>{% if page.url != href.first %}<a href="{{ href.first }}">First</a>{% else %}First{% endif %}</li>
      <li>{% if href.previous %}<a href="{{ href.previous }}">Newer</a>{% else %}Newer{% endif %}</li>
      <li>{% if href.next %}<a href="{{ href.next }}">Older</a>{% else %}Older{% endif %}</li>
      <li>{% if page.url != href.last %}<a href="{{ href.last }}">Last</a>{% else %}Last{% endif %}</li>
    </ol>
  </small>
</nav>
