<ul class="tag-list">
  {% for tag in tagList %}
    {%- if tag != "post" -%}
      {% set tagUrl %}/blog/tags/{{ tag | slug }}/{% endset %}
      <li>
        <a href="{{ tagUrl | url }}" rel="tag" class="badge-link">{{ tag }}</a>
      </li>
    {%- endif -%}
  {% endfor %}
</ul>