<ul class="category-links">
  {% for cat in categoryList %}
    {%- if cat != "post" -%}
      {% set catUrl %}/blog/category/{{ cat | slug }}/{% endset %}
      <li>
        <a href="{{ catUrl | url }}" rel="tag">{{ cat }}</a>
      </li>
    {%- endif -%}
  {% endfor %}
</ul>
