<footer class="site-footer container">
  <div class="footer-content">
    {% include "partials/socials.njk" %}
    <p class="copyright">&copy; {{ site.currentYear }} Christina Dan</p>
  </div>
</footer>