<ul class="nav-list social-links flex-row">
  {% set navItems = navigation.social %}
  {% for item in navItems %}
    <li class="nav-item">
      {% if item.external %}
        {% set rel = ' rel="noopener noreferrer"' %}
      {% endif %}
      <a href="{{ item.url }}" aria-label="{{ item.text }}" {{ rel | safe }} class="social-link">
        {% include item.icon %}
      </a>
    </li>
  {% endfor %}
</ul>