<ul class="nav-list social-links">
  {% set navItems = navigation.social %}
  {% for item in navItems %}
    <li class="nav-item">
      <a href="{{ item.url }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.text }}">
        {% include item.icon %}
      </a>
    </li>
  {% endfor %}
</ul>