<ul class="nav-list social-links">
  {% set navItems = navigation.social %}
  {% for item in navItems %}
    {% if item.external %}
      {% set externalAttribute = ' rel="external"' %}
    {% endif %}

    <li class="nav-item">
      <a class="social-link" href="{{ item.url }}" {{ externalAttribute | safe }} target="_blank">
        {% include item.icon %}
      </a>
    </li>
  {% endfor %}
</ul>