<ul class="tag-list flex-row">
  {% for tag in tagList %}
    {%- if tag != "post" -%}
      {% set url %}{% tagUrl tag %}{% endset %}
      <li>
        <a href="{{ url | url }}" rel="tag" class="badge-link">{{ tag }}</a>
      </li>
    {%- endif -%}
  {% endfor %}
</ul>